<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spike.bot">

    <!-- package="com.spike.bot"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_ADMIN" />

    <!--for Samsung-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>

    <!--for htc-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>

    <!--for sony-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>

    <!--for apex-->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>

    <!--for solid-->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>

    <!--for huawei-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>

    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>

    <!--for OPPO-->
    <uses-permission-sdk-23 android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission-sdk-23 android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>

    <!--for EvMe-->
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>

    <uses-sdk android:targetSdkVersion="28" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH"/>
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <application
        android:largeHeap="true"
        android:allowClearUserData="true"
        android:networkSecurityConfig="@xml/network_http"
        android:name="com.spike.bot.ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon,theme,label,name">

        <receiver
            android:name="com.spike.bot.receiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.spike.bot.activity.TTLock.AddTTlockActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.spike.bot.activity.TTLock.AddGatewayActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.spike.bot.activity.TTLock.LockBrandActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.spike.bot.activity.TTLock.GatewayTypeActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.spike.bot.activity.TTLock.AddTTlockToRoomActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />


        <activity
            android:name="com.spike.bot.activity.TTLock.GateWayListActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.spike.bot.activity.TTLock.TTLockListActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.spike.bot.Beacon.BeaconActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.spike.bot.activity.TTLock.LockUnlockActivity"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.spike.bot.activity.RoomEditActivity_v2"
            android:label="@string/title_activity_room_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            />

        <!--android:windowSoftInputMode="adjustPan|adjustResize|stateHidden|stateVisible"-->

        <activity
            android:name="com.spike.bot.activity.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />


        <activity android:name="com.spike.bot.camera.CameraPlayer"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name="com.spike.bot.activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SmartCam.AddJetSonActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.DeviceLogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.spike.bot.activity.SmartColorPickerActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.SearchDeviceActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.BrandListActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.SmartDecviceListActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.AddDeviceConfirmActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.AddSMartDevicetoRoomActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.SearchHueBridgeActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.SearchSubHueBridgeActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.PhilipsHueBridgeListActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.AddOrSelectBridgeActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.PhilipsHueBridgeDeviceListActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SmartDevice.PhilipsBulbNewListActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.spike.bot.activity.SearchSmartDeviceActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="com.spike.bot.activity.SmartRemoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="com.spike.bot.activity.ir.blaster.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.spike.bot.activity.Camera.CameraDeviceLogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name="com.spike.bot.activity.Camera.CameraNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.spike.bot.activity.DeviceLogRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.spike.bot.activity.Camera.ImageZoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activity.Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize|stateAlwaysHidden"/>


        <activity android:name=".activity.Sensor.TempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize"/>

        <activity android:name=".activity.Sensor.GasSensorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize"/>

        <activity android:name=".activity.Repeatar.RepeaterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|adjustResize"/>

        <!--   android:name="com.spike.bot.activity.Main2Activity"-->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.spike.bot.activity.AddMoodActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.AddDevice.AddDeviceTypeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.spike.bot.activity.ScheduleListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.spike.bot.activity.AddDevice.AddExistingPanel"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name="com.spike.bot.activity.Camera.CameraPlayBack"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.spike.bot.activity.Camera.VideoViewPLayer"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.spike.bot.activity.Camera.CameraEdit"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.spike.bot.activity.SignUp"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <activity android:name="com.spike.bot.activity.NotificationSetting"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name="com.spike.bot.activity.Sensor.TempSensorInfoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.spike.bot.activity.Sensor.MultiSensorActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name="com.spike.bot.activity.Sensor.DoorSensorInfoActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.spike.bot.activity.Sensor.SensorUnassignedActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.spike.bot.activity.Camera.CameraImagePush"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            />
        <activity android:name=".activity.ir.blaster.IRBlasterActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ir.blaster.WifiBlasterActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ir.blaster.WifiListActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.Camera.CameraGridActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        
        <activity android:name=".activity.ir.blaster.IRBlasterRemote"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ir.blaster.IRRemoteAdd"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ir.blaster.IRRemoteBrandListActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ir.blaster.IRRemoteConfigActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ir.blaster.IRBlasterEditActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.ir.blaster.IRBlasterAddActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.AddDevice.AllUnassignedPanel"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.UserChildActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.HeavyLoad.HeavyLoadDetailActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.Curtain.CurtainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activity.SmartCam.SmartCameraActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <service
            android:name="com.spike.bot.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.spike.bot.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--for beacon services stop-->
        <service android:name=".receiver.StickyService"></service>



        <service
            android:name="com.ttlock.bl.sdk.service.DfuService"
            android:exported="true" />

        <!--
     Google console Account with FCM push notificationACCOUNT > anuj@spikebot.io / Hello$123
>SPike bot crashing LOgin  with  ttchatcrash@gmail.com / ttchat$123

     -->


        <!-- <meta-data
             android:name="com.google.firebase.messaging.default_notification_channel_id"
             android:value="@string/default_notification_channel_id"/>-->

       <!-- <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>-->


        <!--tt lock login ttchatcrash@gmail.com / ttchat$123-->

        <!--camera key spike123-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c0d1eedb6db67baf3bc4ceedbe67ac87f6fc95a2" />
    </application>

</manifest>